In [17]:
#importando o pandas
import pandas as pd

In [18]:
#abrindo o arquivo excel
df = pd.read_excel("houses_to_rent.xlsx")

In [24]:
#especificando qual aba abrir
df = pd.read_excel("houses_to_rent.xlsx" , sheet_name = 1) #pode ser sheet_name = "nome_da_aba"

In [22]:
#verificando nome das abas
arq = pd.ExcelFile("houses_to_rent.xlsx") 
arq.sheet_names

['Worksheet', 'Aba 2']

In [25]:
#usando parse para selecionar as abas
aba1 = arq.parse("Worksheet") #ver os nomes das abas com sheet_names
aba2 = arq.parse("Aba 2")

In [27]:
aba2.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"

In [12]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"

In [13]:
df.shape

(3, 14)